<div
  class="section-heading wow fadeInDown tittle-item p-3 mt-3"
  data-wow-duration="1s"
  data-wow-delay="0.5s"
>
  <div class="col-lg-8 text-center">
    <h4>Our <em>Event</em></h4>
    <img
      src="../../assets/template/assets/images/heading-line-dec.png"
      alt=""
    />
  </div>
</div>

<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div
          class="
            my-2
            mx-auto
            p-relative
            bg-white
            shadow-1
            blue-hover
            service-item
            first-service
          "
          style="width: 360px; overflow: hidden; border-radius: 1px"
        >
          <img
            src="https://images.pexels.com/photos/442559/pexels-photo-442559.jpeg?auto=compress&cs=tinysrgb"
            alt="Man with backpack"
            class="d-block w-full"
          />

          <div class="px-2 py-2">
            <p class="mb-0"><i class="far fa-clock"></i> April 23, 2019</p>

            <h1
              class="
                ff-serif
                font-weight-normal
                text-black
                card-heading
                mt-0
                mb-1
              "
              style="line-height: 1.25"
            >
              Planning your final summer trip
            </h1>

            <p class="mb-1">
              Summer is coming to a close just around the corner. But it's not
              too late to squeeze in another weekend trip &hellip;
            </p>
          </div>

          <div class="text-button">
            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="
            my-2
            mx-auto
            p-relative
            bg-white
            shadow-1
            blue-hover
            service-item
            first-service
          "
          style="width: 360px; overflow: hidden; border-radius: 1px"
        >
          <img
            src="https://images.pexels.com/photos/442559/pexels-photo-442559.jpeg?auto=compress&cs=tinysrgb"
            alt="Man with backpack"
            class="d-block w-full"
          />

          <div class="px-2 py-2">
            <p class="mb-0"><i class="far fa-clock"></i> April 23, 2019</p>

            <h1
              class="
                ff-serif
                font-weight-normal
                text-black
                card-heading
                mt-0
                mb-1
              "
              style="line-height: 1.25"
            >
              Planning your final summer trip
            </h1>

            <p class="mb-1">
              Summer is coming to a close just around the corner. But it's not
              too late to squeeze in another weekend trip &hellip;
            </p>
          </div>

          <div class="text-button">
            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="
            my-2
            mx-auto
            p-relative
            bg-white
            shadow-1
            blue-hover
            service-item
            first-service
          "
          style="width: 360px; overflow: hidden; border-radius: 1px"
        >
          <img
            src="https://images.pexels.com/photos/442559/pexels-photo-442559.jpeg?auto=compress&cs=tinysrgb"
            alt="Man with backpack"
            class="d-block w-full"
          />

          <div class="px-2 py-2">
            <p class="mb-0"><i class="far fa-clock"></i> April 23, 2019</p>

            <h1
              class="
                ff-serif
                font-weight-normal
                text-black
                card-heading
                mt-0
                mb-1
              "
              style="line-height: 1.25"
            >
              Planning your final summer trip
            </h1>

            <p class="mb-1">
              Summer is coming to a close just around the corner. But it's not
              too late to squeeze in another weekend trip &hellip;
            </p>
          </div>

          <div class="text-button">
            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div
            class="
              my-2
              mx-auto
              p-relative
              bg-white
              shadow-1
              blue-hover
              service-item
              first-service
            "
            style="width: 360px; overflow: hidden; border-radius: 1px"
          >
            <img
              src="https://images.pexels.com/photos/442559/pexels-photo-442559.jpeg?auto=compress&cs=tinysrgb"
              alt="Man with backpack"
              class="d-block w-full"
            />

            <div class="px-2 py-2">
              <p class="mb-0"><i class="far fa-clock"></i> April 23, 2019</p>

              <h1
                class="
                  ff-serif
                  font-weight-normal
                  text-black
                  card-heading
                  mt-0
                  mb-1
                "
                style="line-height: 1.25"
              >
                Planning your final summer trip
              </h1>

              <p class="mb-1">
                Summer is coming to a close just around the corner. But it's not
                too late to squeeze in another weekend trip &hellip;
              </p>
            </div>

            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div
            class="
              my-2
              mx-auto
              p-relative
              bg-white
              shadow-1
              blue-hover
              service-item
              first-service
            "
            style="width: 360px; overflow: hidden; border-radius: 1px"
          >
            <img
              src="https://images.pexels.com/photos/442559/pexels-photo-442559.jpeg?auto=compress&cs=tinysrgb"
              alt="Man with backpack"
              class="d-block w-full"
            />

            <div class="px-2 py-2">
              <p class="mb-0"><i class="far fa-clock"></i> April 23, 2019</p>

              <h1
                class="
                  ff-serif
                  font-weight-normal
                  text-black
                  card-heading
                  mt-0
                  mb-1
                "
                style="line-height: 1.25"
              >
                Planning your final summer trip
              </h1>

              <p class="mb-1">
                Summer is coming to a close just around the corner. But it's not
                too late to squeeze in another weekend trip &hellip;
              </p>
            </div>

            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div
            class="
              my-2
              mx-auto
              p-relative
              bg-white
              shadow-1
              blue-hover
              service-item
              first-service
            "
            style="width: 360px; overflow: hidden; border-radius: 1px"
          >
            <img
              src="https://images.pexels.com/photos/442559/pexels-photo-442559.jpeg?auto=compress&cs=tinysrgb"
              alt="Man with backpack"
              class="d-block w-full"
            />

            <div class="px-2 py-2">
              <p class="mb-0"><i class="far fa-clock"></i> April 23, 2019</p>

              <h1
                class="
                  ff-serif
                  font-weight-normal
                  text-black
                  card-heading
                  mt-0
                  mb-1
                "
                style="line-height: 1.25"
              >
                Planning your final summer trip
              </h1>

              <p class="mb-1">
                Summer is coming to a close just around the corner. But it's not
                too late to squeeze in another weekend trip &hellip;
              </p>
            </div>

            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
