<div class="wrapper">
  <div
    class="section-heading wow fadeInDown tittle-item p-3 c"
    data-wow-duration="1s"
    data-wow-delay="0.5s"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading text-center">
            <h4>OUR <em>Team</em></h4>
            <img
              src="../../assets/template/assets/images/heading-line-dec.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div id="pricing" class="pricing-tables p-3">
        <div class="container p-3">
          <div class="row">
            <div class="col-lg-4">
              <div class="box">
                <div class="card">
                  <div class="imgBx">
                    <img
                      src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                      alt="images"
                    />
                  </div>
                  <div class="details">
                    <h2>SomeOne Famous<br /><span>Director</span></h2>
                  </div>
                </div>

                <div class="card">
                  <div class="imgBx">
                    <img
                      src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                      alt="images"
                    />
                  </div>
                  <div class="details">
                    <h2>SomeOne Famous<br /><span>Producer</span></h2>
                  </div>
                </div>

                <div class="card">
                  <div class="imgBx">
                    <img
                      src="https://images.unsplash.com/photo-1548094878-84ced0f6896d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                      alt="images"
                    />
                  </div>
                  <div class="details">
                    <h2>SomeOne Famous<br /><span>Actor</span></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
